# Dependency directories
client/node_modules
server/node_modules

# dotenv environment variables file
.env

# next build output
client/.next

.DS_Store
server/.serverless/sls-cms-server-app.zip
server/.serverless/**